@model ContatoModel
@{
    ViewData["Title"] = "Detalhe";
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;">Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">


        <div class="row">
            <div class="col-md-6">
                <label>Telefone</label>
                <input type="text" class="form-control" readonly value="@Model.Telefone" />
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <input type="text" class="form-control" readonly value="@Model.Email" />
            </div>
        </div>

    </div>
</div>

