
@{
    ViewData["Title"] = "Atualizar";
}
<h1>Atualizar clientes</h1>
<div class="row">
    <div class="col-md-6">
        <label>Nome</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Genero</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-2">
        <label>Data de Nascimento</label>
        <input type="date" class="form-control" />
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <input type="button" name="name" value="Salvar" class="btn btn-success btn-block" />
        </div>
    </div>

</div>



