
@{
    ViewData["Title"] = "Detalhe";
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;">Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

    </div>
</div>



