@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Olá, seja bem-vindo!</h1>
    <p class="lead">Eu sou o Jhnoy, sou desenvolvedor Jr e estou aprendendo .NET!</p>
    <hr class="my-4">
    <p>Este projeto contempla a criação de um sistema de gestão de cliente, utilizando uma API e um painel administrativo, desenvolvido por mim...</p>
    <p>Para consultar a documentação da nossa API, clique abaixo e fique por dentro...</p>
    <a class="btn btn-primary btn-lg" target="_blank" href="https://localhost:44365/swagger/index.html" role="button">Documentação da API</a>
</div>
